@import "tailwindcss";

@theme {

    --color-primary-background: #0F0810;
    --color-secondary-background: #1F1220;

    --color-primary: #B5178C;
    --color-secondary: #1F1220;
    --color-mute: #FAF2F7;
}



html, body, #root {
  @apply bg-primary-background h-full;
}