@import "tailwindcss";

@theme {


    --color-primary-background: #0F0810;
    --color-secondary-background: #1F1220;

    --color-primary: #d15af2;
    --color-primary-hover: #c255e0;
    --color-secondary: #8c39a3;
    --color-terceary: #cd9cdb;

    --color-mute: #FAF2F7;

    --color-gray: #374151;

    --color-bg-app: #09090b;
    --color-bg-card: #18181b;
    --color-bg-card-hover: #27272a;

    --container-page: 55rem;

    --color-primary-sucess: #9DE09D;
    --color-secondary-sucess: #2D912D;


    --animate-fade-in: anim-fade-in 0.5s ease-out both;

    @keyframes anim-fade-in {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 100;
        }
    }


}

@utility animate-delay-* {
    --animate-delay: --value(integer)ms;
    --animate-delay: --value([time]);
    animation-delay: var(--animate-delay);
}


html,
body,
#root {
    @apply bg-slate-950 h-full;
    @apply scroll-smooth;
    @apply text-white;
}