@import "tailwindcss";

@theme {


    --color-primary-background: #0F0810;
    --color-secondary-background: #1F1220;

    --color-primary: #d15af2;
    --color-secondary: #bfa3c7;
    --color-mute: #FAF2F7;


    --color-bg-app: #09090b;
    --color-bg-card: #18181b;
    --color-bg-card-hover: #27272a;

    --color-primary-sucess: #9DE09D;
    --color-secondary-sucess: #2D912D;
}



html,
body,
#root {
    @apply bg-slate-950 h-full;
}